{% load static %}
<html>
<head>
    <title>Ambesh's blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
    <body>
    <div class="page-header">
            {% if user.is_authenticated %}
                <p class="top-menu" style="font-size:20px">
                    Hello {{ user.username }}
                    <a class="btn btn-info" href="{% url 'logout' %}">Log out</a>
                 </p>
                <a href="{% url 'post_new' %}" class="top-menu" data-toggle="tooltip" data-placement="left" title="Create Post">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu" data-toggle="tooltip" data-placement="left" title="Login">
                    <span class="glyphicon glyphicon-lock"></span>
                </a>
            {% endif %}
        <h1><a href="/posts/">Ambesh's Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>